*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: purple;
    color: rgb(247, 240, 240);
    height: 45px;
    display: flex;
    align-items: center;
    font-size: large;
    font-family: sans-serif;
    justify-content: center;
}
.gamecontainer
{
    background-color: orange;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

.container{
    padding: 20px 40px;
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: fantasy;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(169, 138, 197);
}

.gameinfo{
    margin-top: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
}

nav ul{
    list-style-type: none;
    
}

.info{
    margin-top: 25%;
    display: flex;
    font-size: 4vw;
}

#reset{
    margin-top: 25%;
    margin-left: 10%;
    margin-bottom: 25%;
    padding: 12px 25px;
    font-size: 5vw;
}

#reset:hover{
    background-color: rgb(255, 247, 0);
}

